In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
from IPython.display import display, Markdown


try:
    
    engine = create_engine("mysql+mysqlconnector://root:Tiag123!@localhost:3306/siasus")
    
    with engine.connect() as conexao:
        print("‚úÖ Conex√£o com o banco 'siasus' realizada com sucesso!")
except Exception as e:
    print(f"‚ùå Erro fatal ao conectar ao MySQL: {e}")
    print("--- \nPOR FAVOR, VERIFIQUE SUA SENHA NA LINHA create_engine() ---")

## üßπ Etapas 1 e 2: Explora√ß√£o e Limpeza (Recap)

A primeira etapa da an√°lise de dados (feita via SQL no Workbench) foi explorar os 13,1 milh√µes de registros carregados. Isso revelou duas grandes inconsist√™ncias:

1.  **G√™nero Inv√°lido:** 1.044.933 registros tinham `pa_sexo = '0'`.
2.  **CID N√£o Informado:** Mais de 9 milh√µes de registros tinham `pa_cidpri = '0000'`.

A **Etapa 2 (Limpeza)** consistiu em tratar o problema mais cr√≠tico. Foi executado o seguinte comando no MySQL para corrigir os dados de g√™nero, conforme o enunciado ("preencher com 'N√£o informado'"):

`UPDATE pars SET pa_sexo = 'I' WHERE pa_sexo = '0';`

As an√°lises a seguir s√£o executadas sobre os dados **j√° limpos**.

## üìä Etapa 3.1: Volume e Perfil dos Procedimentos
An√°lise do volume total de procedimentos por per√≠odo (m√™s e trimestre).

In [ ]:
try:
    display(Markdown("### An√°lise 3.1: Por Trimestre"))
    df_trimestre = pd.read_sql(sql_por_trimestre, engine)
    display(df_trimestre)
    
    display(Markdown("### An√°lise 3.1: Por M√™s"))
    df_mes = pd.read_sql(sql_por_mes, engine)
    display(df_mes)
except Exception as e:
    print(f"‚ùå ERRO na Etapa 3.1: {e}")